<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Filters Page</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">Shop</a></li>
            <li class="active">Filters Page</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row row-grid">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="sh-product">
                        <div class="sh-product-body">
                            <img class="img-responsive" src="../<%= assets %>js/holder.js/100%x300/social" alt="">
                            <div class="sh-product-caption">
                                <h4 class="sh-product-caption-title">Product Title</h4>
                                <p class="sh-product-caption-des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt aut accusantium perspiciatis officia.</p>
                                <hr class="dotted">
                            </div>
                            <span class="sh-price">$ 199.99</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="sh-product">
                        <div class="sh-product-body">
                            <img class="img-responsive" src="../<%= assets %>js/holder.js/100%x300/social" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="sh-product">
                        <div class="sh-product-body">
                            <img class="img-responsive" src="../<%= assets %>js/holder.js/100%x300/social" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="sh-product">
                        <div class="sh-product-body">
                            <img class="img-responsive" src="../<%= assets %>js/holder.js/100%x300/social" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="sh-product">
                        <div class="sh-product-body">
                            <img class="img-responsive" src="../<%= assets %>js/holder.js/100%x300/social" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="sh-product">
                        <div class="sh-product-body">
                            <img class="img-responsive" src="../<%= assets %>js/holder.js/100%x300/social" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="sh-product">
                        <div class="sh-product-body">
                            <img class="img-responsive" src="../<%= assets %>js/holder.js/100%x300/social" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="sh-product">
                        <div class="sh-product-body">
                            <img class="img-responsive" src="../<%= assets %>js/holder.js/100%x300/social" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- row -->
</div>

<!-- build:include layout/footer.html --><!-- /build -->