
<!-- Scripts -->
<!-- Compiled in vendors.js -->
<!--
<script src="<%= shop_assets %>js/jquery.min.js"></script>
<script src="<%= shop_assets %>js/jquery.cookie.js"></script>
<script src="<%= shop_assets %>js/imagesloaded.pkgd.min.js"></script>
<script src="<%= shop_assets %>js/bootstrap.min.js"></script>
<script src="<%= shop_assets %>js/bootstrap-switch.min.js"></script>
<script src="<%= shop_assets %>js/wow.min.js"></script>
<script src="<%= shop_assets %>js/slidebars.min.js"></script>
<script src="<%= shop_assets %>js/jquery.bxslider.min.js"></script>
<script src="<%= shop_assets %>js/holder.js"></script>
<script src="<%= shop_assets %>js/buttons.js"></script>
<script src="<%= shop_assets %>js/jquery.mixitup.min.js"></script>
<script src="<%= shop_assets %>js/circles.min.js"></script>
<script src="<%= shop_assets %>js/masonry.pkgd.min.js"></script>
-->

<script src="<%= shop_assets %>js/vendors.js"></script>

<!-- build:remove:header_dark_dark,header_dark_inverse,header_dark_light,header_light_dark,header_light_inverse,header_light_light -->
<script src="<%= shop_assets %>js/styleswitcher.js"></script>
<!-- /build -->

<!-- Syntaxhighlighter -->
<script src="<%= shop_assets %>js/syntaxhighlighter/shCore.js"></script>
<script src="<%= shop_assets %>js/syntaxhighlighter/shBrushXml.js"></script>
<script src="<%= shop_assets %>js/syntaxhighlighter/shBrushJScript.js"></script>

<script src="<%= shop_assets %>js/app.js"></script>
