<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Blog Full</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">Blog</a></li>
            <li class="active">Blog Full</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <article class="post animated fadeInDown animation-delay-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="post-title"><a href="single.html" class="transicion">Lorem ipsum Minim Ut in nulla labore sint nostrud</a></h3>
                        <div class="row">
                            <div class="col-md-6">
                                <img src="<%= assets %>img/demo/img_full.jpg" class="img-responsive imageborder" alt="Image">
                            </div>
                            <div class="col-md-6">
                                <p>Enim velit Duis eu voluptate do tempor non irure nisi ad occaecat dolore aliqua laboris amet aute minim qui et Excepteur ide cupidatat Duis laborum id nulla in mollit consectetur animal Ut veniam magna ut exercitation ex sint sint ex sit est pariatur non nisi eu est magna ullamco minim nulla aliquip reprehenderit Lorem ipsum Minim Ut in nulla labore sint nostrud commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In beatae pariatur expedita quibusdam non adipisci doloribus sit iusto esse ad.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, enim, molestias officia ipsam harum ratione iusto laborum veritatis velit nam vero sapiente repudiandae ipsum recusandae laudantium adipisci iure eos unde animi ab tenetur odio consequuntur.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-lg-10 col-md-9 col-sm-4">
                                <i class="fa fa-clock-o"></i> Sep 29, 2013 <i class="fa fa-user"> </i> <a href="#">Patrick</a> <i class="fa fa-folder-open"></i> <a href="#">Portfolio</a>, <a href="#">Design</a>.
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-4">
                                <a href="#" class="pull-right">Read more &raquo;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </article> <!-- post -->
            <article class="post animated fadeInDown animation-delay-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="post-title"><a href="single.html" class="transicion">Lorem ipsum Minim Ut in nulla labore sint nostrud</a></h3>
                        <div class="row">
                            <div class="col-md-6">
                                <img src="<%= assets %>img/demo/2.jpg" class="img-responsive" alt="Image">
                            </div>
                            <div class="col-md-6">
                                <p>Enim velit Duis eu voluptate do tempor non irure nisi ad occaecat dolore aliqua laboris amet aute minim qui et Excepteur ide cupidatat Duis laborum id nulla in mollit consectetur animal Ut veniam magna ut exercitation ex sint sint ex sit est pariatur non nisi eu est magna ullamco minim nulla aliquip reprehenderit Lorem ipsum Minim Ut in nulla labore sint nostrud commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, quibusdam dolorum cum velit deserunt deleniti quisquam earum tenetur porro beatae?</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis neque dolor suscipit! Dolor, laboriosam, ut, provident est soluta porro voluptatem et commodi ipsam maiores minus harum! Dolore, delectus, nemo iste libero vitae saepe tempore amet ipsum corporis ex eveniet reprehenderit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-lg-10 col-md-9 col-sm-8">
                                <i class="fa fa-clock-o"></i> Sep 29, 2013 <i class="fa fa-user"> </i> <a href="#">Patrick</a> <i class="fa fa-folder-open"></i> <a href="#">Portfolio</a>, <a href="#">Design</a>.
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-4">
                                <a href="#" class="pull-right">Read more &raquo;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </article> <!-- post -->
            <article class="post animated fadeInDown animation-delay-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="post-title"><a href="single.html" class="transicion">Lorem ipsum Minim Ut in nulla labore sint nostrud</a></h3>
                        <div class="row">
                            <div class="col-md-6">
                                <img src="<%= assets %>img/demo/1.jpg" class="img-responsive" alt="Image">
                            </div>
                            <div class="col-md-6">
                                <p>Enim velit Duis eu voluptate do tempor non irure nisi ad occaecat dolore aliqua laboris amet aute minim qui et Excepteur ide cupidatat Duis laborum id nulla in mollit consectetur animal Ut veniam magna ut exercitation ex sint sint ex sit est pariatur non nisi eu est magna ullamco minim nulla aliquip reprehenderit Lorem ipsum Minim Ut in nulla labore sint nostrud commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque fuga quibusdam quia accusamus vero animi maiores at et quae explicabo?</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, officia, alias neque commodi quod numquam qui laudantium soluta ipsa sed doloribus sint quos voluptatum quis dolor asperiores nobis. Odio, sit porro repellat nemo deserunt praesentium excepturi sint et accusantium sunt!</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-lg-10 col-md-9 col-sm-8">
                                <i class="fa fa-clock-o"></i> Sep 29, 2013 <i class="fa fa-user"> </i> <a href="#">Patrick</a> <i class="fa fa-folder-open"></i> <a href="#">Portfolio</a>, <a href="#">Design</a>.
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-4">
                                <a href="#" class="pull-right">Read more &raquo;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </article> <!-- post -->
            <article class="post animated fadeInDown animation-delay-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="post-title"><a href="single.html" class="transicion">Lorem ipsum Minim Ut in nulla labore sint nostrud</a></h3>
                        <div class="row">
                            <div class="col-md-6">
                                <img src="<%= assets %>img/demo/3.jpg" class="img-responsive" alt="Image">
                            </div>
                            <div class="col-md-6">
                                <p>Enim velit Duis eu voluptate do tempor non irure nisi ad occaecat dolore aliqua laboris amet aute minim qui et Excepteur ide cupidatat Duis laborum id nulla in mollit consectetur animal Ut veniam magna ut exercitation ex sint sint ex sit est pariatur non nisi eu est magna ullamco minim nulla aliquip reprehenderit Lorem ipsum Minim Ut in nulla labore sint nostrud commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem dolorem corrupti sint alias possimus aperiam ipsa impedit dolores similique sapiente!</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, rem, illum totam veritatis amet accusantium alias dolor sit incidunt beatae error non veniam sint repudiandae aliquid maxime pariatur! Ad, voluptates, quos nihil veniam molestias distinctio enim quam eveniet sint perspiciatis!</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-lg-10 col-md-9 col-sm-8">
                                <i class="fa fa-clock-o"></i> Sep 29, 2013 <i class="fa fa-user"> </i> <a href="#">Patrick</a> <i class="fa fa-folder-open"></i> <a href="#">Portfolio</a>, <a href="#">Design</a>.
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-4">
                                <a href="#" class="pull-right">Read more &raquo;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </article> <!-- post -->
            <article class="post animated fadeInDown animation-delay-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="post-title"><a href="single.html" class="transicion">Lorem ipsum Minim Ut in nulla labore sint nostrud</a></h3>
                        <div class="row">
                            <div class="col-md-6">
                                <img src="<%= assets %>img/demo/5.jpg" class="img-responsive" alt="Image">
                            </div>
                            <div class="col-md-6">
                                <p>Enim velit Duis eu voluptate do tempor non irure nisi ad occaecat dolore aliqua laboris amet aute minim qui et Excepteur ide cupidatat Duis laborum id nulla in mollit consectetur animal Ut veniam magna ut exercitation ex sint sint ex sit est pariatur non nisi eu est magna ullamco minim nulla aliquip reprehenderit Lorem ipsum Minim Ut in nulla labore sint nostrud commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, est in unde eligendi facilis atque error quibusdam illo explicabo perspiciatis!</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, commodi, praesentium, non temporibus error eius molestiae cum ducimus tempore deleniti exercitationem rerum expedita provident dolorem ab asperiores ut numquam nesciunt saepe nemo enim ad necessitatibus vel magnam nam laboriosam quod.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-lg-10 col-md-9 col-sm-8">
                                <i class="fa fa-clock-o"></i> Sep 29, 2013 <i class="fa fa-user"> </i> <a href="#">Patrick</a> <i class="fa fa-folder-open"></i> <a href="#">Portfolio</a>, <a href="#">Design</a>.
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-4">
                                <a href="#" class="pull-right">Read more &raquo;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </article> <!-- post -->

            <section>
                <ul class="pagination">
                    <li class="disabled"><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">9</a></li>
                    <li><a href="#">10</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </section>
        </div> <!-- col-md-8 -->

    </div> <!-- row -->
</div> <!-- container  -->

<!-- build:include layout/footer.html --><!-- /build -->
