<!-- build:include layout/header.html --><!-- /build -->

<section class="wrap-hero">
    <div id="carousel-example-ny" class="carousel carousel-hero slide" data-ride="carousel" data-interval="90000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-ny" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-ny" data-slide-to="1"></li>
            <li data-target="#carousel-example-ny" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-push-6">
                            <div class="carousel-object">
                                <!--<img src="<%= assets %>img/demo/wire1.png" class="img-responsive animated animated-slow reveal animation-delay-25" alt="Image">
                                <img src="<%= assets %>img/demo/wire1shadow.png" class="img-responsive animated fadeIn animation-delay-40" alt="Image">
                                <img src="<%= assets %>img/demo/wire1capture.png" class="img-responsive animated fadeIn animation-delay-45" alt="Image">
                                <div class="clearfix"></div>-->
                                <img src="<%= assets %>img/demo/mockup.png" alt="" class="img-responsive animated fadeIn animation-delay-30">
                            </div>
                        </div>
                        <div class="col-md-6 col-md-pull-6">
                            <div class="carousel-caption">
                               <h1 class="animated fadeInDownBig animation-delay-7 carousel-title">More than <span>3,000 sales</span> behind us</h1>
                               <ul class="list-unstyled carousel-list">
                                   <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-11"></i><span class="animated fadeInRightBig animation-delay-13">Over <strong>100 templates</strong>, adding more every month.</span></li>
                                   <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-15"></i><span class="animated fadeInRightBig animation-delay-16">Support and free <strong>updates forever</strong>.</span></li>
                                   <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-19"></i><span class="animated fadeInRightBig animation-delay-19">Everything is <strong>customizable</strong>. Colors, fonts, headers...</span></li>
                               </ul>
							   <div class="action-zone">
								   <a href="#" class="btn btn-ar btn-transparent-opaque btn-xl animated fadeInUp animation-delay-22"><i class="fa fa-opencart"></i> Purchase Now</a>
								   <a href="#" class="btn btn-ar btn-transparent-opaque btn-xl animated fadeInUp animation-delay-25"><i class="fa fa-search"></i> Know More</a>
							   </div>
                            </div>
                        </div>
                    </div> <!--row -->
                </div> <!-- container -->
            </div> <!-- item -->
        </div> <!-- carousel-inner -->

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-ny" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="right carousel-control" href="#carousel-example-ny" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</section> <!-- carousel -->

<!-- build:include layout/footer/widgets.html --><!-- /build -->
<!-- build:include layout/footer/foot.html --><!-- /build -->

</div> <!-- boxed -->
</div> <!-- sb-site -->

<!-- build:include layout/footer/slidebar.html --><!-- /build -->
<!-- build:include layout/footer/totop.html --><!-- /build -->
<!-- build:include layout/footer/scripts.html --><!-- /build -->
</body>

</html>
