<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Support Center</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">Pages</a></li>
            <li><a href="#">FAQ & Support</a></li>
            <li class="active">Support Center</li>
        </ol>
    </div>
</header>

<div class="container">
    <h1 class="section-title text-center no-margin-top">Support Center</h1>
    <div class="panel panel-border">
        <div class="panel-body">
            <div class="input-group">
                    <input type="text" class="form-control input-lg" placeholder="Have a Question?  Ask or enter a search term here.">
                    <span class="input-group-btn">
                        <button class="btn btn-ar btn-lg btn-primary" type="button">Search</button>
                    </span>
                </div><!-- /input-group -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="right-line">Browse by Topic</h2>
        </div>
        <div class="col-md-6">
            <h3 class="no-margin-top">Getting Started</h3>
            <ul class="list-line">
                <li><a href="#">Qui assumenda veniam impedit inventore blanditiis nulla?</a></li>
                <li><a href="#">Amet, sunt, harum. Fugiat, reprehenderit mollitia dolore?</a></li>
                <li><a href="#">Ullam possimus sapiente ratione, nemo eum saepe?</a></li>
                <li><a href="#">Eius adipisci obcaecati quidem dolorum, saepe maxime?</a></li>
                <li><a href="#">Ratione pariatur omnis sed ea quos optio?</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3 class="no-margin-top">Account and Preferences</h3>
            <ul class="list-line">
                <li><a href="#">Qui assumenda veniam impedit inventore blanditiis nulla?</a></li>
                <li><a href="#">Amet, sunt, harum. Fugiat, reprehenderit mollitia dolore?</a></li>
                <li><a href="#">Ullam possimus sapiente ratione, nemo eum saepe?</a></li>
                <li><a href="#">Eius adipisci obcaecati quidem dolorum, saepe maxime?</a></li>
                <li><a href="#">Ratione pariatur omnis sed ea quos optio?</a></li>
            </ul>
        </div>
    </div> <!-- row -->
    <div class="row">
        <div class="col-md-12">
            <h2 class="right-line">Premium &amp; Billing</h2>
        </div>
        <div class="col-md-6">
            <h3 class="no-margin-top">Versions &amp; Feedback</h3>
            <ul class="list-line">
                <li><a href="#">Qui assumenda veniam impedit inventore blanditiis nulla?</a></li>
                <li><a href="#">Amet, sunt, harum. Fugiat, reprehenderit mollitia dolore?</a></li>
                <li><a href="#">Ullam possimus sapiente ratione, nemo eum saepe?</a></li>
                <li><a href="#">Eius adipisci obcaecati quidem dolorum, saepe maxime?</a></li>
                <li><a href="#">Ratione pariatur omnis sed ea quos optio?</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3 class="no-margin-top">Mobile &amp; Tablet</h3>
            <ul class="list-line">
                <li><a href="#">Qui assumenda veniam impedit inventore blanditiis nulla?</a></li>
                <li><a href="#">Amet, sunt, harum. Fugiat, reprehenderit mollitia dolore?</a></li>
                <li><a href="#">Ullam possimus sapiente ratione, nemo eum saepe?</a></li>
                <li><a href="#">Eius adipisci obcaecati quidem dolorum, saepe maxime?</a></li>
                <li><a href="#">Ratione pariatur omnis sed ea quos optio?</a></li>
            </ul>
        </div>
    </div> <!-- row -->
    <div class="row">
        <div class="col-md-12">
            <h2 class="right-line">Other Category</h2>
        </div>
        <div class="col-md-6">
            <h3 class="no-margin-top">Getting Started</h3>
            <ul class="list-line">
                <li><a href="#">Qui assumenda veniam impedit inventore blanditiis nulla?</a></li>
                <li><a href="#">Amet, sunt, harum. Fugiat, reprehenderit mollitia dolore?</a></li>
                <li><a href="#">Ullam possimus sapiente ratione, nemo eum saepe?</a></li>
                <li><a href="#">Eius adipisci obcaecati quidem dolorum, saepe maxime?</a></li>
                <li><a href="#">Ratione pariatur omnis sed ea quos optio?</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3 class="no-margin-top">Account and Preferences</h3>
            <ul class="list-line">
                <li><a href="#">Qui assumenda veniam impedit inventore blanditiis nulla?</a></li>
                <li><a href="#">Amet, sunt, harum. Fugiat, reprehenderit mollitia dolore?</a></li>
                <li><a href="#">Ullam possimus sapiente ratione, nemo eum saepe?</a></li>
                <li><a href="#">Eius adipisci obcaecati quidem dolorum, saepe maxime?</a></li>
                <li><a href="#">Ratione pariatur omnis sed ea quos optio?</a></li>
            </ul>
        </div>
    </div> <!-- row -->
</div> <!-- container -->

<!-- build:include layout/footer.html --><!-- /build -->
