<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">About us & Team</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">Pages</a></li>
            <li><a href="#">About us & Team</a></li>
            <li class="active">About us & Team</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="title-logo animated fadeInDown animation-delay-5">artificial<span>reason</span></div>
        </div>
        <div class="col-xs-12">
            <p class="slogan text-center animated bounceInLeft animation-delay-12">Discover our jobs and the rigorous process of <span>creation</span>. <br> Our principles are <span>creativity</span>, <span>design</span>, <span>experience</span> and <span>knowledge</span>.</p>
        </div>
        <div class="col-md-8 wow fadeInUp">
            <h2 class="right-line">About us</h2>
            <p class="p-lg">Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit</strong>. Corpora, occulta eruditionem, vidisse videamus occultarum inciderit nocet dubitat studia fama latinam, redeamus miserius dissentio reici defatigatio honesta hinc doloremque. Pacto otiosum fecerit, propemodum ceramico exercitumque vidisse vocent orationis lucilius utrisque repugnantiumve mnesarchum. Democrito quaerimus monstret tradere magnosque bono eaque variis, beatam erat restincto ipse pariatur.</p>
            <h4>Other information</h4>
            <p class="p-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ne albuci eorum <strong>disciplina</strong> invenerit gravissimis usque, voluptati aristippi maestitiam intuemur, ibidem platonem eveniet allevatio expectant reddidisti magnus quis. Tarentinis effluere quoniam evolutio oblivione eo expressas magnitudinem maior summum, placeat quosque concursio videatur verbi efficiantur.</p>
            <hr class="dotted">
            <blockquote class="blockquote-color-bg-primary">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sodales sagittis magna. consectetur adipiscing elit sed consequat, leo eget bibendum sodales.</p>
                <footer>Adrián Guerra Marrero, Artificial Reason CEO</footer>
            </blockquote>
        </div>
        <div class="col-md-4 wow fadeInUp">
            <h2 class="right-line">Our clients</h2>
            <div class="row">
                <div class="col-md-6 col-sm-3 col-xs-6"><img src="<%= assets %>img/demo/intel.png" alt="" class="img-responsive"></div>
                <div class="col-md-6 col-sm-3 col-xs-6"><img src="<%= assets %>img/demo/microsoft.png" alt="" class="img-responsive"></div>
                <div class="col-md-6 col-sm-3 col-xs-6"><img src="<%= assets %>img/demo/nokia.png" alt="" class="img-responsive"></div>
                <div class="col-md-6 col-sm-3 col-xs-6"><img src="<%= assets %>img/demo/samsung.png" alt="" class="img-responsive"></div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-3 col-xs-6"><img src="<%= assets %>img/demo/anz.png" alt="" class="img-responsive"></div>
                <div class="col-md-6 col-sm-3 col-xs-6"><img src="<%= assets %>img/demo/maxis.png" alt="" class="img-responsive"></div>
                <div class="col-md-6 col-sm-3 col-xs-6"><img src="<%= assets %>img/demo/sony.png" alt="" class="img-responsive"></div>
                <div class="col-md-6 col-sm-3 col-xs-6"><img src="<%= assets %>img/demo/hp.png" alt="" class="img-responsive"></div>
            </div>
        </div>
    </div> <!-- row -->
    <div class="row">
        <div class="col-md-12">
            <h2 class="right-line">Our Team</h2>
        </div>
        <div class="col-md-6">
            <section>
                <div class="panel panel-default  animated fadeInDown animation-delay-8">
                    <div class="panel-body">
                        <h3 class="section-title no-margin-top">Sheldon Cooper <small class="pull-right">Programmer</small><div class="clearfix"></div></h3>
                        <div class="clearfix"></div>
                        <img src="<%= assets %>img/demo/t1.jpg" alt="" class="alignleft imageborder">
                        <p class="no-margin-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, explicabo, impedit, voluptatibus fugiat saepe mollitia modi ab itaque cumque perferendis aut ducimus voluptas enim. Aspernatur, nobis id molestias! Quas, beatae commodi voluptates qui sed sint eos magni perferendis! Ea, necessitatibus.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, illum dolor alias provident officiis. Neque at accusamus quis provident delectus commodi voluptates.</p>
                        <div class="clearfix"></div>
                        <a href="#" class="social-icon-ar sm twitter animated fadeInDown"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-icon-ar sm google-plus animated fadeInDown"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="social-icon-ar sm facebook animated fadeInDown"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-icon-ar sm instagram animated fadeInDown"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="social-icon-ar sm pinterest animated fadeInDown"><i class="fa fa-pinterest"></i></a>
                        <a href="#" class="social-icon-ar sm linkedin animated fadeInDown"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-icon-ar sm git animated fadeInDown"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </section>
        </div>
         <div class="col-md-6">
            <section>
                <div class="panel panel-default  animated fadeInDown animation-delay-11">
                    <div class="panel-body">
                        <h3 class="section-title no-margin-top">Sheldon Cooper <small class="pull-right">Programmer</small><div class="clearfix"></div></h3>
                        <div class="clearfix"></div>
                        <img src="<%= assets %>img/demo/t2.jpg" alt="" class="alignleft imageborder">
                        <p class="no-margin-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, explicabo, impedit, voluptatibus fugiat saepe mollitia modi ab itaque cumque perferendis aut ducimus voluptas enim. Aspernatur, nobis id molestias! Quas, beatae commodi voluptates qui sed sint eos magni perferendis! Ea, necessitatibus.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, illum dolor alias provident officiis. Neque at accusamus quis provident delectus commodi voluptates.</p>
                        <div class="clearfix"></div>
                        <a href="#" class="social-icon-ar sm twitter animated fadeInDown"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-icon-ar sm google-plus animated fadeInDown"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="social-icon-ar sm facebook animated fadeInDown"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-icon-ar sm instagram animated fadeInDown"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="social-icon-ar sm pinterest animated fadeInDown"><i class="fa fa-pinterest"></i></a>
                        <a href="#" class="social-icon-ar sm linkedin animated fadeInDown"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-icon-ar sm git animated fadeInDown"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </section>
        </div>
         <div class="col-md-6">
            <section>
                <div class="panel panel-default  animated fadeInDown animation-delay-14">
                    <div class="panel-body">
                        <h3 class="section-title no-margin-top">Sheldon Cooper <small class="pull-right">Programmer</small><div class="clearfix"></div></h3>
                        <div class="clearfix"></div>
                        <img src="<%= assets %>img/demo/t3.jpg" alt="" class="alignleft imageborder">
                        <p class="no-margin-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, explicabo, impedit, voluptatibus fugiat saepe mollitia modi ab itaque cumque perferendis aut ducimus voluptas enim. Aspernatur, nobis id molestias! Quas, beatae commodi voluptates qui sed sint eos magni perferendis! Ea, necessitatibus.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, illum dolor alias provident officiis. Neque at accusamus quis provident delectus commodi voluptates.</p>
                        <div class="clearfix"></div>
                        <a href="#" class="social-icon-ar sm twitter animated fadeInDown"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-icon-ar sm google-plus animated fadeInDown"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="social-icon-ar sm facebook animated fadeInDown"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-icon-ar sm instagram animated fadeInDown"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="social-icon-ar sm pinterest animated fadeInDown"><i class="fa fa-pinterest"></i></a>
                        <a href="#" class="social-icon-ar sm linkedin animated fadeInDown"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-icon-ar sm git animated fadeInDown"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </section>
        </div>
         <div class="col-md-6">
            <section>
                <div class="panel panel-default  animated fadeInDown animation-delay-17">
                    <div class="panel-body">
                        <h3 class="section-title no-margin-top">Sheldon Cooper <small class="pull-right">Programmer</small><div class="clearfix"></div></h3>
                        <div class="clearfix"></div>
                        <img src="<%= assets %>img/demo/t6.jpg" alt="" class="alignleft imageborder">
                        <p class="no-margin-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, explicabo, impedit, voluptatibus fugiat saepe mollitia modi ab itaque cumque perferendis aut ducimus voluptas enim. Aspernatur, nobis id molestias! Quas, beatae commodi voluptates qui sed sint eos magni perferendis! Ea, necessitatibus.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, illum dolor alias provident officiis. Neque at accusamus quis provident delectus commodi voluptates.</p>
                        <div class="clearfix"></div>
                        <a href="#" class="social-icon-ar sm twitter animated fadeInDown"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-icon-ar sm google-plus animated fadeInDown"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="social-icon-ar sm facebook animated fadeInDown"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-icon-ar sm instagram animated fadeInDown"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="social-icon-ar sm pinterest animated fadeInDown"><i class="fa fa-pinterest"></i></a>
                        <a href="#" class="social-icon-ar sm linkedin animated fadeInDown"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-icon-ar sm git animated fadeInDown"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </section>
        </div>
         <div class="col-md-6">
            <section>
                <div class="panel panel-default  animated fadeInDown animation-delay-18">
                    <div class="panel-body">
                        <h3 class="section-title no-margin-top">Sheldon Cooper <small class="pull-right">Programmer</small><div class="clearfix"></div></h3>
                        <div class="clearfix"></div>
                        <img src="<%= assets %>img/demo/t4.jpg" alt="" class="alignleft imageborder">
                        <p class="no-margin-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, explicabo, impedit, voluptatibus fugiat saepe mollitia modi ab itaque cumque perferendis aut ducimus voluptas enim. Aspernatur, nobis id molestias! Quas, beatae commodi voluptates qui sed sint eos magni perferendis! Ea, necessitatibus.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, illum dolor alias provident officiis. Neque at accusamus quis provident delectus commodi voluptates.</p>
                        <div class="clearfix"></div>
                        <a href="#" class="social-icon-ar sm twitter animated fadeInDown"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-icon-ar sm google-plus animated fadeInDown"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="social-icon-ar sm facebook animated fadeInDown"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-icon-ar sm instagram animated fadeInDown"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="social-icon-ar sm pinterest animated fadeInDown"><i class="fa fa-pinterest"></i></a>
                        <a href="#" class="social-icon-ar sm linkedin animated fadeInDown"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-icon-ar sm git animated fadeInDown"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </section>
        </div>
         <div class="col-md-6">
            <section>
                <div class="panel panel-default  animated fadeInDown animation-delay-18">
                    <div class="panel-body">
                        <h3 class="section-title no-margin-top">Sheldon Cooper <small class="pull-right">Programmer</small><div class="clearfix"></div></h3>
                        <div class="clearfix"></div>
                        <img src="<%= assets %>img/demo/t5.jpg" alt="" class="alignleft imageborder">
                        <p class="no-margin-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, explicabo, impedit, voluptatibus fugiat saepe mollitia modi ab itaque cumque perferendis aut ducimus voluptas enim. Aspernatur, nobis id molestias! Quas, beatae commodi voluptates qui sed sint eos magni perferendis! Ea, necessitatibus.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, illum dolor alias provident officiis. Neque at accusamus quis provident delectus commodi voluptates.</p>
                        <div class="clearfix"></div>
                        <a href="#" class="social-icon-ar sm twitter animated fadeInDown"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-icon-ar sm google-plus animated fadeInDown"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="social-icon-ar sm facebook animated fadeInDown"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-icon-ar sm instagram animated fadeInDown"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="social-icon-ar sm pinterest animated fadeInDown"><i class="fa fa-pinterest"></i></a>
                        <a href="#" class="social-icon-ar sm linkedin animated fadeInDown"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-icon-ar sm git animated fadeInDown"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div> <!-- container -->

<!-- build:include layout/footer.html --><!-- /build -->
