<!-- build:include layout/header.html --><!-- /build -->

<header class="services-header no-margin-bottom">
    <div class="primary-dark-div">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-push-4 col-md-7 col-md-push-5 col-sm-6 col-sm-push-6">
                    <div class="profile-header-text">
                        <h1>Adrián Guerra Marrero</h1>
                        <h2>@artificialreason</h2>
                    </div>
                </div>
            </div>
            <div class="profile-avatar-container">
                <img class="profile-avatar" src="<%= assets %>img/demo/avatar230.jpg" alt="">
            </div>
        </div>
    </div>
</header>

<nav class="nav-profile">
    <div class="container">
        <div class="col-lg-8 col-lg-push-4 col-md-7 col-md-push-5 col-sm-6 col-sm-push-6">
            <ul class="profile-counters">
                <li><a href="#">14 <span>Posts</span></a></li>
                <li><a href="#">75 <span>Comments</span></a></li>
                <li><a href="#">148 <span>Tweets</span></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-5">
            <h2 class="right-line">Personal Information</h2>
            <section>
                <div class="panel panel-primary">
                    <div class="panel-heading"><i class="fa fa-user"></i> General Information</div>
                    <table class="table table-striped">
                        <tr>
                            <th>User Name</th>
                            <td>adrigm</td>
                        </tr>
                        <tr>
                            <th>Fullname</th>
                            <td>Adrian Guerra</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td><a href="#">admin@openmind.com</a></td>
                        </tr>
                        <tr>
                            <th>Website</th>
                            <td><a href="#">www.openmind.com</a></td>
                        </tr>
                        <tr>
                            <th>Member Since</th>
                            <td>9/30/2010</td>
                        </tr>
                    </table>
                </div>
            </section>
            <h2 class="right-line">Update Profile</h2>
            <section>
                <form role="form">
                    <div class="form-group">
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-ar btn-success btn-block">Update</button>
                </form>
                <hr>
                <a href="#"class="btn btn-ar btn-block btn-warning">Edit your profile</a>
            </section>
        </div>
        <div class="col-md-7">
            <h2 class="right-line">Latest Activity</h2>
            <ul class="timeline-2">
                <li class="wow fadeInRight">
                    <time class="timeline-time" datetime="">14/1/2012 <span>Junuary</span></time>
                    <i class="timeline-2-point"></i>
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-comment-o"></i> Comment in <a href="#">Title post or article</a></div>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, illum aspernatur placeat eveniet ullam modi asperiores perspiciatis labore animi odio ea dicta consectetur similique. Soluta officiis facilis velit sunt rem.</p>
                        </div>
                    </div>
                </li>
                <li  class="wow fadeInRight">
                    <time class="timeline-time" datetime="">31/5/2014 <span>May</span></time>
                    <i class="timeline-2-point"></i>
                    <div class="panel panel-primary">
                        <div class="panel-heading"><i class="fa fa-picture-o"></i> Post an Image</div>
                        <div class="video">
                            <img src="<%= assets %>img/demo/office2.jpg" alt="" width="100%" class="img-responsive">
                        </div>
                    </div>
                </li>
                <li  class="wow fadeInRight">
                    <time class="timeline-time" datetime="">22/10/2012 <span>October</span></time>
                    <i class="timeline-2-point"></i>
                    <blockquote class="blockquote-color-bg-primary">
                        <p><i class="fa fa-quote-right"></i> <strong>Blockquote in timeline!</strong> consectetur adipiscing elit. Integer sodales sagittis magna. consectetur adipiscing elit sed consequat, quam semper libero.</p>
                        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                </li>
                <li  class="wow fadeInRight">
                    <time class="timeline-time" datetime="">29/7/2013 <span>July</span></time>
                    <i class="timeline-2-point"></i>
                    <div class="panel panel-success">
                        <div class="panel-heading">Success color in panel event</div>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, illum aspernatur placeat eveniet ullam modi asperiores perspiciatis labore animi odio ea dicta consectetur similique. Soluta officiis facilis velit sunt rem.</p>
                        </div>
                    </div>
                </li>
                <li  class="wow fadeInRight">
                    <time class="timeline-time" datetime="">15/8/2013 <span>August</span></time>
                    <i class="timeline-2-point"></i>
                    <div class="panel panel-primary">
                        <div class="panel-heading"><i class="fa fa-video-camera"></i> Responsive video in timeline</div>
                        <div class="video">
                            <iframe src="http://player.vimeo.com/video/50061391?title=0&amp;byline=0&amp;portrait=0"></iframe>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- build:include layout/footer.html --><!-- /build -->
