<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Timeline Center</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">Pages</a></li>
            <li><a href="#">Timeline</a></li>
            <li class="active">Timeline Center</li>
        </ol>
    </div>
</header>

<div class="container">
    <section>
        <h3 class="timeline-title"><span>2013</span></h3>
        <div class="row timeline">
            <div class="col-sm-6 timeline-left">
                <div class="timeline-event timeline-event-left animated bounceInLeft animation-delay-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><strong>Heading Event</strong> - 9 July</div>
                        <img src="<%= assets %>img/demo/w1.jpg" class="img-responsive" alt="Image">
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit</strong>. Accessio p, delectu appetere eruditionem moribus, efficit, dominos unde adhibenda neglegit mox versuum leniter, caeco tenebimus laboriosam oriantur, admonere certae invenerit scientia malarum deorum imagines, democritum dignitatis opus obruamus, naturam iniurias nostri singulis meminerimus tarentinis amaret quosvis, tutiorem minuti religionis offendimur iniucundus sentiant venustate torquatos virtus, aequo periculis ducem perveniri maximis. Inprobitas carum repudiandae legantur, diuturnum dixisset quaeso, verentur censes dolorem mediocris choro efflorescere secutus bono oculis, placeat usu homines solvantur, periculis.</p>
                        </div>
                    </div>
                </div>
                <div class="timeline-event timeline-event-left animated bounceInLeft animation-delay-9">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Heading Event - 27 September</div>
                        <img src="<%= assets %>img/demo/w2.jpg" class="img-responsive" alt="Image">
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accessio p, delectu appetere eruditionem moribus, efficit, dominos unde adhibenda neglegit mox versuum leniter, caeco tenebimus laboriosam oriantur, admonere certae invenerit scientia malarum deorum imagines, democritum dignitatis opus obruamus, naturam iniurias nostri singulis meminerimus tarentinis amaret quosvis, tutiorem minuti religionis offendimur iniucundus sentiant venustate torquatos virtus, aequo periculis ducem perveniri maximis. Inprobitas carum repudiandae legantur, diuturnum dixisset quaeso, verentur censes dolorem mediocris choro efflorescere secutus bono oculis, placeat usu homines solvantur, periculis.</p>
                        </div>
                    </div>
                </div>
                <div class="timeline-event timeline-event-left animated bounceInLeft animation-delay-13">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Event with table - 27 September</div>
                        <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                              </tr>
                            </tbody>
                      </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 timeline-right">
                <div class="timeline-event timeline-event-right animated bounceInRight animation-delay-5">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Event with video - 15 January</div>
                        <div class="video">
                            <iframe src="http://player.vimeo.com/video/50061391?title=0&amp;byline=0&amp;portrait=0"></iframe>
                        </div>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accessio p, delectu appetere eruditionem moribus, efficit, dominos unde adhibenda neglegit mox versuum leniter, caeco tenebimus laboriosam oriantur, admonere certae invenerit scientia malarum deorum imagines, democritum dignitatis opus obruamus, naturam iniurias nostri singulis.</p>
                        </div>
                    </div>
                </div>
                <div class="timeline-event timeline-event-right animated bounceInRight animation-delay-7">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Heading Event - 14 April</div>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit</strong>. Accessio p, delectu appetere eruditionem moribus, efficit, dominos unde adhibenda neglegit mox versuum leniter, caeco tenebimus laboriosam oriantur, admonere certae invenerit scientia malarum deorum imagines, democritum dignitatis opus obruamus, naturam iniurias nostri singulis meminerimus tarentinis amaret.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidam non ignorare gratissimo sua urbes numeris cohaerescent, numquam mi dedocere dolendum delectat infinito finibus. Molita scriptum iniucundus sublata intellegi cohaerescent audita primum gravioribus, solum emolumento iucunditatem futuros aristotelem vis insatiabiles, inesse gaudere, tu restincto platonis insidiarum iusteque accurate audeam cibo partes, intereant, noster maerores laborat pararetur durissimis, multoque centurionum cogitarent dissentio fecerit praetermissum magnosque honesta.</p>
                        </div>
                    </div>
                </div>
                <div class="timeline-event timeline-event-right animated bounceInRight animation-delay-11">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Heading Event - 15 January</div>
                        <img src="<%= assets %>img/demo/w11.jpg" class="img-responsive" alt="Image">
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accessio p, delectu appetere eruditionem moribus, efficit, dominos unde adhibenda neglegit mox versuum leniter, caeco tenebimus laboriosam oriantur, admonere certae invenerit scientia malarum deorum imagines, democritum dignitatis opus obruamus, naturam iniurias nostri singulis meminerimus tarentinis amaret quosvis, tutiorem minuti religionis offendimur iniucundus sentiant venustate torquatos virtus, aequo periculis ducem perveniri maximis. Inprobitas carum repudiandae legantur, diuturnum dixisset quaeso, verentur censes dolorem mediocris choro efflorescere secutus bono oculis, placeat usu homines solvantur, periculis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <h3 class="timeline-title"><span>2014</span></h3>
        <div class="row timeline">
            <div class="col-sm-6 timeline-left">
                <div class="timeline-event timeline-event-left animated bounceInLeft animation-delay-13">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Heading Event</div>
                        <img src="<%= assets %>img/demo/w3.jpg" class="img-responsive" alt="Image">
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accessio p, delectu appetere eruditionem moribus, efficit, dominos unde adhibenda neglegit mox versuum leniter, caeco tenebimus laboriosam oriantur, admonere certae invenerit scientia malarum deorum imagines, democritum dignitatis opus obruamus, naturam iniurias nostri singulis meminerimus tarentinis amaret quosvis, tutiorem minuti religionis offendimur iniucundus sentiant venustate torquatos virtus, aequo periculis ducem perveniri maximis. Inprobitas carum repudiandae legantur, diuturnum dixisset quaeso, verentur censes dolorem mediocris choro efflorescere secutus bono oculis, placeat usu homines solvantur, periculis.</p>
                        </div>
                    </div>
                </div>
                <div class="timeline-event timeline-event-left animated bounceInLeft animation-delay-15">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Heading Event</div>
                        <img src="<%= assets %>img/demo/w8.jpg" class="img-responsive" alt="Image">
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accessio p, delectu appetere eruditionem moribus, efficit, dominos unde adhibenda neglegit mox versuum leniter, caeco tenebimus laboriosam oriantur, admonere certae invenerit scientia malarum deorum imagines, democritum dignitatis opus obruamus, naturam iniurias nostri singulis meminerimus tarentinis amaret quosvis, tutiorem minuti religionis offendimur iniucundus sentiant venustate torquatos virtus, aequo periculis ducem perveniri maximis. Inprobitas carum repudiandae legantur, diuturnum dixisset quaeso, verentur censes dolorem mediocris choro efflorescere secutus bono oculis, placeat usu homines solvantur, periculis.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 timeline-right">
                <div class="timeline-event timeline-event-right animated bounceInRight animation-delay-13">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Heading Event</div>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accessio p, delectu appetere eruditionem moribus, efficit, dominos unde adhibenda neglegit mox versuum leniter, caeco tenebimus laboriosam oriantur, admonere certae invenerit scientia malarum deorum imagines, democritum dignitatis opus obruamus, naturam iniurias nostri singulis meminerimus tarentinis amaret quosvis, tutiorem minuti religionis offendimur iniucundus sentiant venustate torquatos virtus, aequo periculis ducem perveniri maximis. Inprobitas carum repudiandae legantur, diuturnum dixisset quaeso, verentur censes dolorem mediocris choro efflorescere secutus bono oculis, placeat usu homines solvantur, periculis.</p>
                        </div>
                    </div>
                </div>
                <div class="timeline-event timeline-event-right animated bounceInRight animation-delay-17">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Heading Event</div>
                        <img src="<%= assets %>img/demo/w6.jpg" class="img-responsive" alt="Image">
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accessio p, delectu appetere eruditionem moribus, efficit, dominos unde adhibenda neglegit mox versuum leniter, caeco tenebimus laboriosam oriantur, admonere certae invenerit scientia malarum deorum imagines, democritum dignitatis opus obruamus, naturam iniurias nostri singulis meminerimus tarentinis amaret quosvis, tutiorem minuti religionis offendimur iniucundus sentiant venustate torquatos virtus, aequo periculis ducem perveniri maximis. Inprobitas carum repudiandae legantur, diuturnum dixisset quaeso, verentur censes dolorem mediocris choro efflorescere secutus bono oculis, placeat usu homines solvantur, periculis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div> <!-- container -->

<!-- build:include layout/footer.html --><!-- /build -->
