<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Services</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">Pages</a></li>
            <li><a href="#">Bussiness & Products</a></li>
            <li class="active">Services</li>
        </ol>
    </div>
</header>

<div class="container">
    <section class="margin-bottom">
        <div class="row">
            <div class="col-md-12">
                <h2 class="right-line">Our Services</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-cloud"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Cloud Computing</h3>
                        <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-desktop"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Web Design and SEO</h3>
                        <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-tablet"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Mobile and Tablet Apps</h3>
                        <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-wordpress"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Wordpress Themes</h3>
                        <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-graduation-cap"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Training and development</h3>
                        <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-paper-plane-o"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Customer service</h3>
                        <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </section>

    <section>
        <div class="row">
            <div class="col-md-12">
                <h2 class="right-line">Our Values</h2>
            </div>
            <div class="col-md-6">
                <div class="content-box box-default">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="<%= assets %>img/demo/office1.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="col-md-8">
                            <h4 class="content-box-title margin-small">Lorem ipsum dolor sit amet</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, alias similique sapiente rerum ipsam delectus corporis.</p>
                        </div>
                    </div>
                </div>
                <hr class="dotted">
                <div class="content-box box-default">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="<%= assets %>img/demo/office2.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="col-md-8">
                            <h4 class="content-box-title margin-small">Lorem ipsum dolor sit amet</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, alias similique sapiente rerum ipsam delectus corporis.</p>
                        </div>
                    </div>
                </div>
                <hr class="dotted">
                <div class="content-box box-default">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="<%= assets %>img/demo/office3.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="col-md-8">
                            <h4 class="content-box-title margin-small">Lorem ipsum dolor sit amet</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, alias similique sapiente rerum ipsam delectus corporis.</p>
                        </div>
                    </div>
                </div>
                <hr class="dotted">
                <div class="content-box box-default">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="<%= assets %>img/demo/office4.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="col-md-8">
                            <h4 class="content-box-title margin-small">Lorem ipsum dolor sit amet</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, alias similique sapiente rerum ipsam delectus corporis.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="service-list list-unstyled">
                    <li class="wow fadeInUp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil suscipit cupiditate expedita hic earum vero sint, recusandae itaque, rem distinctio.</li>
                    <li class="wow fadeInUp">Totam porro sit, obcaecati quos quae iure tenetur, soluta voluptatem sapiente rerum ipsam delectus corporis voluptates voluptate, nulla mollitia pariatur.</li>
                    <li class="wow fadeInUp">Amet dolorum ullam, rerum ratione distinctio, quia iusto rem! Asperiores et quas, ratione in dolores dolorum doloribus magni suscipit labore!</li>
                    <li class="wow fadeInUp">Enim quas nesciunt sequi odit, ut quisquam vitae commodi animi placeat nihil saepe magnam aliquam, vero harum quae doloribus aut nostrum veniam alias!</li>
                    <li class="wow fadeInUp">Expedita doloribus vel nam fuga iusto aperiam maxime aut amet pariatur. Libero quidem, optio itaque ducimus. Nulla laboriosam voluptas voluptates.</li>
                    <li class="wow fadeInUp">Amet dolorum ullam, rerum ratione distinctio, quia iusto rem! Asperiores et quas, ratione in dolores dolorum doloribus magni suscipit labore!</li>
                    <li class="wow fadeInUp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil suscipit cupiditate expedita hic earum vero sint, recusandae itaque, rem distinctio.</li>
                </ol>
            </div>
        </div>
    </section>
</div> <!-- container -->

<!-- build:include layout/footer.html --><!-- /build -->
