<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Blog Masonry</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">Blog</a></li>
            <li class="active">Blog Masonry</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row masonry-container">
        <div class="col-md-4 col-sm-6 masonry-item blog-item wow fadeInUp">
            <div class="thumbnail">
                <img src="<%= assets %>img/demo/img16.jpg" class="img-responsive" alt="Image">
                <div class="caption">
                    <h3>An amazing post title</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem voluptate aut recusandae numquam dicta placeat in facilis voluptas dolorem vitae aliquam, voluptatem illo quo, saepe beatae cumque provident similique porro.</p>
                    <p>Tenetur labore fuga corporis tempore inventore minima itaque, veniam aliquid aliquam odit placeat tempora. Natus officia sit minima tempora.</p>
                    <hr class="dotted">
                    <span class="autor-post">
                        <img src="<%= assets %>img/demo/avatar100.jpg" alt="">
                        by <a href="#">adrigm</a>
                    </span>
                    <a href="#" class="btn btn-ar btn-primary pull-right" role="button">Read more &raquo;</a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div> <!-- masonry-item  -->

        <div class="col-md-4 col-sm-6 masonry-item blog-item wow fadeInUp">
            <div class="thumbnail">
                <div class="video">
                    <iframe src="http://player.vimeo.com/video/50061391?title=0&amp;byline=0&amp;portrait=0"></iframe>
                </div>
                <div class="caption">
                    <h3>An amazing post title</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem voluptate aut recusandae numquam dicta placeat in facilis voluptas dolorem vitae aliquam, voluptatem illo quo, saepe beatae cumque provident similique porro.</p>
                    <hr class="dotted">
                    <span class="autor-post">
                        <img src="<%= assets %>img/demo/avatar100.jpg" alt="">
                        by <a href="#">adrigm</a>
                    </span>
                    <a href="#" class="btn btn-ar btn-primary pull-right" role="button">Read more &raquo;</a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div> <!-- masonry-item  -->

        <div class="col-md-4 col-sm-6 masonry-item blog-item wow fadeInUp">
            <div class="thumbnail">
                <img src="<%= assets %>img/demo/img14.jpg" class="img-responsive" alt="Image">
                <div class="caption">
                    <h3>An amazing post title</h3>
                    <p>Tenetur labore fuga corporis tempore inventore minima itaque, veniam aliquid aliquam odit placeat tempora. Natus officia sit minima tempora.</p>
                    <hr class="dotted">
                    <span class="autor-post">
                        <img src="<%= assets %>img/demo/avatar100.jpg" alt="">
                        by <a href="#">adrigm</a>
                    </span>
                    <a href="#" class="btn btn-ar btn-primary pull-right" role="button">Read more &raquo;</a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div> <!-- masonry-item  -->

        <div class="col-md-4 col-sm-6 masonry-item blog-item wow fadeInUp">
            <div class="thumbnail">
                <img src="<%= assets %>img/demo/img10.jpg" class="img-responsive" alt="Image">
                <div class="caption">
                    <h3>An amazing post title</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem voluptate aut recusandae numquam dicta placeat in facilis voluptas dolorem vitae aliquam, voluptatem illo quo, saepe beatae cumque provident similique porro.</p>
                    <p>Tenetur labore fuga corporis tempore inventore minima itaque, veniam aliquid aliquam odit placeat tempora. Natus officia sit minima tempora Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, laudantium.</p>
                    <hr class="dotted">
                    <span class="autor-post">
                        <img src="<%= assets %>img/demo/avatar100.jpg" alt="">
                        by <a href="#">adrigm</a>
                    </span>
                    <a href="#" class="btn btn-ar btn-primary pull-right" role="button">Read more &raquo;</a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div> <!-- masonry-item  -->

        <div class="col-md-4 col-sm-6 masonry-item blog-item wow fadeInUp">
            <div class="thumbnail">
                <img src="<%= assets %>img/demo/img13.jpg" class="img-responsive" alt="Image">
                <div class="caption">
                    <h3>An amazing post title</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem voluptate aut recusandae numquam dicta placeat in facilis voluptas dolorem vitae aliquam, voluptatem illo quo, saepe beatae cumque provident similique porro.</p>
                    <p>Tenetur labore fuga corporis tempore inventore minima itaque, veniam aliquid aliquam odit placeat tempora. Natus officia sit minima tempora.</p>
                    <hr class="dotted">
                    <span class="autor-post">
                        <img src="<%= assets %>img/demo/avatar100.jpg" alt="">
                        by <a href="#">adrigm</a>
                    </span>
                    <a href="#" class="btn btn-ar btn-primary pull-right" role="button">Read more &raquo;</a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div> <!-- masonry-item  -->

        <div class="col-md-4 col-sm-6 masonry-item blog-item wow fadeInUp">
            <div class="thumbnail">
                <img src="<%= assets %>img/demo/img09.jpg" class="img-responsive" alt="Image">
                <div class="caption">
                    <h3>An amazing post title</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem voluptate aut recusandae numquam dicta placeat in facilis voluptas dolorem vitae aliquam, voluptatem illo quo, saepe beatae cumque provident similique porro.</p>
                    <p>Tenetur labore fuga corporis tempore inventore minima itaque, veniam aliquid aliquam odit placeat tempora. Natus officia sit minima tempora.</p>
                    <hr class="dotted">
                    <span class="autor-post">
                        <img src="<%= assets %>img/demo/avatar100.jpg" alt="">
                        by <a href="#">adrigm</a>
                    </span>
                    <a href="#" class="btn btn-ar btn-primary pull-right" role="button">Read more &raquo;</a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div> <!-- masonry-item  -->

        <div class="col-md-4 col-sm-6 masonry-item blog-item wow fadeInUp">
            <div class="thumbnail">
                <img src="<%= assets %>img/demo/7.jpg" class="img-responsive" alt="Image">
                <div class="caption">
                    <h3>An amazing post title</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem voluptate aut recusandae numquam dicta placeat in facilis voluptas dolorem vitae aliquam, voluptatem illo quo, saepe beatae cumque provident similique porro.</p>
                    <p>Tenetur labore fuga corporis tempore inventore minima itaque, veniam aliquid aliquam odit placeat tempora. Natus officia sit minima tempora.</p>
                    <hr class="dotted">
                    <span class="autor-post">
                        <img src="<%= assets %>img/demo/avatar100.jpg" alt="">
                        by <a href="#">adrigm</a>
                    </span>
                    <a href="#" class="btn btn-ar btn-primary pull-right" role="button">Read more &raquo;</a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div> <!-- masonry-item  -->

        <div class="col-md-4 col-sm-6 masonry-item blog-item wow fadeInUp">
            <div class="thumbnail">
                <img src="<%= assets %>img/demo/img08.jpg" class="img-responsive" alt="Image">
                <div class="caption">
                    <h3>An amazing post title</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem voluptate aut recusandae numquam dicta placeat in facilis voluptas dolorem vitae aliquam, voluptatem illo quo, saepe beatae cumque provident similique porro.</p>
                    <p>Tenetur labore fuga corporis tempore inventore minima itaque, veniam aliquid aliquam odit placeat tempora. Natus officia sit minima tempora.</p>
                    <hr class="dotted">
                    <span class="autor-post">
                        <img src="<%= assets %>img/demo/avatar100.jpg" alt="">
                        by <a href="#">adrigm</a>
                    </span>
                    <a href="#" class="btn btn-ar btn-primary pull-right" role="button">Read more &raquo;</a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div> <!-- masonry-item  -->

        <div class="col-md-4 col-sm-6 masonry-item blog-item wow fadeInUp">
            <div class="thumbnail">
                <img src="<%= assets %>img/demo/img22.jpg" class="img-responsive" alt="Image">
                <div class="caption">
                    <h3>An amazing post title</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem voluptate aut recusandae numquam dicta placeat in facilis voluptas dolorem vitae aliquam, voluptatem illo quo, saepe beatae cumque provident similique porro.</p>
                    <p>Tenetur labore fuga corporis tempore inventore minima itaque, veniam aliquid aliquam odit placeat tempora. Natus officia sit minima tempora.</p>
                    <hr class="dotted">
                    <span class="autor-post">
                        <img src="<%= assets %>img/demo/avatar100.jpg" alt="">
                        by <a href="#">adrigm</a>
                    </span>
                    <a href="#" class="btn btn-ar btn-primary pull-right" role="button">Read more &raquo;</a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div> <!-- masonry-item  -->

    </div> <!-- masonry-container  -->

    <div class="row">
        <section class="text-center">
            <ul class="pagination pagination-lg pagination-border">
              <li class="disabled"><a href="#">&laquo;</a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">6</a></li>
              <li><a href="#">7</a></li>
              <li><a href="#">8</a></li>
              <li><a href="#">9</a></li>
              <li><a href="#">10</a></li>
              <li><a href="#">&raquo;</a></li>
            </ul>
        </section>
    </div> <!-- row -->
</div> <!-- container  -->

<!-- build:include layout/footer.html --><!-- /build -->
