<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Product</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">E-commerce</a></li>
            <li class="active">Product</li>
        </ol>
    </div>
</header>

<div class="container">
    <h2 class="section-title no-margin-top">Motorola Moto G 8GB Black</h2>
    <div class="row">
        <div class="col-md-4">

            <ul class="bxslider">
              <li><img src="<%= assets %>img/demo/e_product1.jpg" /></li>
              <li><img src="<%= assets %>img/demo/e_product2.jpg" /></li>
              <li><img src="<%= assets %>img/demo/e_product3.jpg" /></li>
              <li><img src="<%= assets %>img/demo/e_product4.jpg" /></li>
              <li><img src="<%= assets %>img/demo/e_product5.jpg" /></li>
            </ul>

            <div id="bx-pager">
              <a data-slide-index="0" href=""><img src="<%= assets %>img/demo/e_img1.jpg" /></a>
              <a data-slide-index="1" href=""><img src="<%= assets %>img/demo/e_img2.jpg" /></a>
              <a data-slide-index="2" href=""><img src="<%= assets %>img/demo/e_img3.jpg" /></a>
              <a data-slide-index="3" href=""><img src="<%= assets %>img/demo/e_img4.jpg" /></a>
              <a data-slide-index="4" href=""><img src="<%= assets %>img/demo/e_img5.jpg" /></a>
            </div>
        </div>
        <div class="col-md-5">
            <h3 class="no-margin-top">Description</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam eum molestias modi error perspiciatis, recusandae commodi laudantium dolorem illo quaerat molestiae quis placeat non saepe harum necessitatibus alias porro at.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis minima repellat incidunt magni laborum porro totam explicabo, quis nostrum aliquid provident, harum.</p>
            <h4>Specifications</h4>
            <ul class="unstyled">
                <li><strong>Memory: </strong> 8GB standard, 16GB version available / RAM- 1GB LPDDR2</li>
                <li><strong>PROCESSOR: </strong>Qualcomm MSM8x26 quad-core A7 1.2GHz (Adreno 305 450MHz GPU)</li>
                <li><strong>Bands/Modes: </strong>CDMA: 850/1900 UMTS: 850/900/1700/1900/2100 GSM: 850/900/1800/1900</li>
                <li><strong>Operating system: </strong>Android 4.4, KitKat</li>
            </ul>

        </div>
        <div class="col-md-3">
            <div class="e-price">$ <span>229</span>.00</div>
            <a href="#" class="btn btn-ar btn-block btn-success"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
            <h3 class="right-line">Related Products</h3>
            <div class="ec-box">
                <div class="ec-box-header"><a href="#">Bq Aquaris 5 16GB White</a></div>
                <a href="#"><img src="<%= assets %>img/demo/e_img03.jpg" alt=""></a>
                <div class="ec-box-footer">
                    <span class="label label-primary">$ 249.99</span>
                    <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- build:include layout/footer/widgets.html --><!-- /build -->
<!-- build:include layout/footer/foot.html --><!-- /build -->

</div> <!-- boxed -->
</div> <!-- sb-site -->

<!-- build:include layout/footer/slidebar.html --><!-- /build -->
<!-- build:include layout/footer/totop.html --><!-- /build -->
<!-- build:include layout/footer/scripts.html --><!-- /build -->
<script src="<%= assets %>js/e-commerce_product.js"></script>

</body>

</html>

