<!-- build:include layout/header.html --><!-- /build -->

<header id="header-full">
    <div class="wrap-primary">
        <div class="container">
            <h1 class="head-title animated bounceInDown animation-delay-8">artificial reason</h1>
            <img src="<%= assets %>img/logo_raw_white.png" alt="" class="aligncenter head-full-logo animated bounceIn animation-delay-5">
            <h2 class="secondary-color text-center head-subtitle animated fadeInUp animation-delay-14">connect to the artificial revolution</h2>
            <p class="lead text-center animated fadeInUp animation-delay-14">We bring the revolution to the web design, our principles are experience, knowledge and creativity. Discover all that can offer artificial reason.</p>
            <div class="row header-full-icons text-center">
                <div class="col-sm-3 animated fadeInDown animation-delay-19">
                    <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-html5"></i></span>
                    <h3>HTML 5</h3>
                    <p class="text-center">Illo quas ab, aut quasi vitae nam ipsum totam aspernatur.</p>
                </div>
                <div class="col-sm-3 animated fadeInDown animation-delay-21">
                    <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-css3"></i></span>
                    <h3>CSS 3</h3>
                    <p class="text-center">Culpa, excepturi ipsa, aut reiciendis maiores deserunt.</p>
                </div>
                <div class="col-sm-3 animated fadeInDown animation-delay-22">
                    <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-bold"></i></span>
                    <h3>Bootstrap 3</h3>
                    <p class="text-center">Blanditiis consequatur minima voluptatibus ducimus tempore.</p>
                </div>
                <div class="col-sm-3 animated fadeInDown animation-delay-20">
                    <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-desktop"></i></span>
                    <h3>Responsive</h3>
                    <p class="text-center">Eius culpa eligendi autem odio nisi dignissimos sapiente.</p>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="wrap-dark-color">
    <div class="container">
        <div class="row">
            <div class="col-md-7 feature-container">
                <a class="feature-icon">
                    <i class="fa fa-desktop"></i>
                    <h4>Retina</h4>
                </a>
                <a class="feature-icon">
                    <i class="fa fa-download"></i>
                    <h4>Downloads</h4>
                </a>
                <a class="feature-icon">
                    <i class="fa fa-cloud"></i>
                    <h4>Cloud</h4>
                </a>
                <a class="feature-icon">
                    <i class="fa fa-html5"></i>
                    <h4>HTML 5</h4>
                </a>
            </div>
            <div class="col-md-5 hidden-sm hidden-xs">
                <p class="lead text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
</section>

</div> <!-- boxed -->
</div> <!-- sb-site -->

<!-- build:include layout/footer/scripts.html --><!-- /build -->
<script src="<%= assets %>js/home_full.js"></script>

</body>

</html>
