<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Our Team Option 2</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">Pages</a></li>
            <li><a href="#">About us & Team</a></li>
            <li class="active">Our Team Option 2</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="col-md-12">
        <div class="title-logo animated fadeInDown animation-delay-5">Artificial <span>Reason</span> Team</div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="right-line">Albert Einstein</h2>
            <img src="<%= assets %>img/demo/t1.jpg" alt="" class="imageborder alignleft">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero sint aut reprehenderit hic cupiditate! Soluta quasi magnam, cupiditate porro sint odio sunt delectus officia, inventore assumenda quae. Error, quod, repellendus. Maiores voluptatibus sint ex.</p>
            <p>Vel laboriosam vitae delectus accusantium id deleniti, repellat ea tenetur odit quibusdam aliquam iste esse nisi labore ratione enim eligendi ad magni obcaecati assumenda facilis sit aspernatur odio quidem. Quidem, ducimus! Id impedit tempore temporibus, vitae labore, nihil. Consequatur, sunt!</p>
            <p>Dolorum recusandae quam dolorem mollitia illum tempora porro, inventore enim rerum voluptatibus architecto ab rem labore odit nulla quaerat? Necessitatibus aut, ut alias numquam blanditiis, repellat dolore maxime. Placeat maxime.</p>
            <a href="#" class="btn-social sm facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="btn-social sm twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="btn-social sm pinterest"><i class="fa fa-pinterest"></i></a>
            <a href="#" class="btn-social sm instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="btn-social sm git"><i class="fa fa-github-alt"></i></a>
        </div>
        <div class="col-md-12">
            <h2 class="right-line">Isaac Newton</h2>
            <img src="<%= assets %>img/demo/t3.jpg" alt="" class="imageborder alignright">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero sint aut reprehenderit hic cupiditate! Soluta quasi magnam, cupiditate porro sint odio sunt delectus officia, inventore assumenda quae. Error, quod, repellendus. Maiores voluptatibus sint ex.</p>
            <p>Vel laboriosam vitae delectus accusantium id deleniti, repellat ea tenetur odit quibusdam aliquam iste esse nisi labore ratione enim eligendi ad magni obcaecati assumenda facilis sit aspernatur odio quidem. Quidem, ducimus! Id impedit tempore temporibus, vitae labore, nihil. Consequatur, sunt!</p>
            <p>Dolorum recusandae quam dolorem mollitia illum tempora porro, inventore enim rerum voluptatibus architecto ab rem labore odit nulla quaerat? Necessitatibus aut, ut alias numquam blanditiis, repellat dolore maxime. Placeat maxime.</p>
            <a href="#" class="btn-social sm facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="btn-social sm twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="btn-social sm pinterest"><i class="fa fa-pinterest"></i></a>
            <a href="#" class="btn-social sm instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="btn-social sm git"><i class="fa fa-github-alt"></i></a>
        </div>
        <div class="col-md-12">
            <h2 class="right-line">Leonardo Da Vince</h2>
            <img src="<%= assets %>img/demo/t4.jpg" alt="" class="imageborder alignleft">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero sint aut reprehenderit hic cupiditate! Soluta quasi magnam, cupiditate porro sint odio sunt delectus officia, inventore assumenda quae. Error, quod, repellendus. Maiores voluptatibus sint ex.</p>
            <p>Vel laboriosam vitae delectus accusantium id deleniti, repellat ea tenetur odit quibusdam aliquam iste esse nisi labore ratione enim eligendi ad magni obcaecati assumenda facilis sit aspernatur odio quidem. Quidem, ducimus! Id impedit tempore temporibus, vitae labore, nihil. Consequatur, sunt!</p>
            <p>Dolorum recusandae quam dolorem mollitia illum tempora porro, inventore enim rerum voluptatibus architecto ab rem labore odit nulla quaerat? Necessitatibus aut, ut alias numquam blanditiis, repellat dolore maxime. Placeat maxime.</p>
            <a href="#" class="btn-social sm facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="btn-social sm twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="btn-social sm pinterest"><i class="fa fa-pinterest"></i></a>
            <a href="#" class="btn-social sm instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="btn-social sm git"><i class="fa fa-github-alt"></i></a>
        </div>
        <div class="col-md-12">
            <h2 class="right-line">Marie Curie</h2>
            <img src="<%= assets %>img/demo/t2.jpg" alt="" class="imageborder alignright">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero sint aut reprehenderit hic cupiditate! Soluta quasi magnam, cupiditate porro sint odio sunt delectus officia, inventore assumenda quae. Error, quod, repellendus. Maiores voluptatibus sint ex.</p>
            <p>Vel laboriosam vitae delectus accusantium id deleniti, repellat ea tenetur odit quibusdam aliquam iste esse nisi labore ratione enim eligendi ad magni obcaecati assumenda facilis sit aspernatur odio quidem. Quidem, ducimus! Id impedit tempore temporibus, vitae labore, nihil. Consequatur, sunt!</p>
            <p>Dolorum recusandae quam dolorem mollitia illum tempora porro, inventore enim rerum voluptatibus architecto ab rem labore odit nulla quaerat? Necessitatibus aut, ut alias numquam blanditiis, repellat dolore maxime. Placeat maxime.</p>
            <a href="#" class="btn-social sm facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="btn-social sm twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="btn-social sm pinterest"><i class="fa fa-pinterest"></i></a>
            <a href="#" class="btn-social sm instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="btn-social sm git"><i class="fa fa-github-alt"></i></a>
        </div>
        <div class="col-md-12">
            <h2 class="right-line">Thomas Alva Edison</h2>
            <img src="<%= assets %>img/demo/t5.jpg" alt="" class="imageborder alignleft">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero sint aut reprehenderit hic cupiditate! Soluta quasi magnam, cupiditate porro sint odio sunt delectus officia, inventore assumenda quae. Error, quod, repellendus. Maiores voluptatibus sint ex.</p>
            <p>Vel laboriosam vitae delectus accusantium id deleniti, repellat ea tenetur odit quibusdam aliquam iste esse nisi labore ratione enim eligendi ad magni obcaecati assumenda facilis sit aspernatur odio quidem. Quidem, ducimus! Id impedit tempore temporibus, vitae labore, nihil. Consequatur, sunt!</p>
            <p>Dolorum recusandae quam dolorem mollitia illum tempora porro, inventore enim rerum voluptatibus architecto ab rem labore odit nulla quaerat? Necessitatibus aut, ut alias numquam blanditiis, repellat dolore maxime. Placeat maxime.</p>
            <a href="#" class="btn-social sm facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="btn-social sm twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="btn-social sm pinterest"><i class="fa fa-pinterest"></i></a>
            <a href="#" class="btn-social sm instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="btn-social sm git"><i class="fa fa-github-alt"></i></a>
        </div>
        <div class="col-md-12">
            <h2 class="right-line">Stephen Hawking</h2>
            <img src="<%= assets %>img/demo/t6.jpg" alt="" class="imageborder alignright">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero sint aut reprehenderit hic cupiditate! Soluta quasi magnam, cupiditate porro sint odio sunt delectus officia, inventore assumenda quae. Error, quod, repellendus. Maiores voluptatibus sint ex.</p>
            <p>Vel laboriosam vitae delectus accusantium id deleniti, repellat ea tenetur odit quibusdam aliquam iste esse nisi labore ratione enim eligendi ad magni obcaecati assumenda facilis sit aspernatur odio quidem. Quidem, ducimus! Id impedit tempore temporibus, vitae labore, nihil. Consequatur, sunt!</p>
            <p>Dolorum recusandae quam dolorem mollitia illum tempora porro, inventore enim rerum voluptatibus architecto ab rem labore odit nulla quaerat? Necessitatibus aut, ut alias numquam blanditiis, repellat dolore maxime. Placeat maxime.</p>
            <a href="#" class="btn-social sm facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="btn-social sm twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="btn-social sm pinterest"><i class="fa fa-pinterest"></i></a>
            <a href="#" class="btn-social sm instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="btn-social sm git"><i class="fa fa-github-alt"></i></a>
        </div>
    </div> <!-- row -->
</div> <!-- container -->

<!-- build:include layout/footer.html --><!-- /build -->
