<!-- build:include layout/header/head.html --><!-- /build -->

<div class="coming-back">
    <div class="coming-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-6">
                    <div class="coming-counter">
                        <h1 class="animated fadeInRight animation-delay-6">Coming Soon</h1>
                        <div id="getting-started" class="animated fadeInRight animation-delay-7">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="coming-desc">
                        <h1 class="animated fadeInDown animation-delay-5">artificial reason</h1>
                        <p class="animated fadeInDown animation-delay-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum facere tempora sapiente, non molestiae quibusdam incidunt id deserunt beatae unde rem nisi, temporibus itaque laboriosam ex! Illum optio neque amet officiis doloribus.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="coming-social">
                        <a href="#" class="animated fadeInUp animation-delay-6 btn-social sm solid rss"><i class="fa fa-rss"></i></a>
                        <a href="#" class="animated fadeInUp animation-delay-8 btn-social sm solid facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="animated fadeInUp animation-delay-10 btn-social sm solid twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="animated fadeInUp animation-delay-12 btn-social sm solid pinterest"><i class="fa fa-pinterest"></i></a>
                        <a href="#" class="animated fadeInUp animation-delay-14 btn-social sm solid instagram"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- build:include layout/footer/scripts.html --><!-- /build -->
<script src="<%= assets %>js/jquery.countdown.min.js"></script>
<script src="<%= assets %>js/coming.js"></script>

</body>

</html>
