<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Timeline Left</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">Pages</a></li>
            <li><a href="#">Timeline</a></li>
            <li class="active">Timeline Left</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-9 ">
            <ul class="timeline-2">
                <li class="animated fadeInRight animation-delay-10">
                    <time class="timeline-time" datetime="">14/1/2012 <span>Junuary</span></time>
                    <i class="timeline-2-point"></i>
                    <div class="panel panel-default">
                        <div class="panel-heading">Simple text event in Timeline</div>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, illum aspernatur placeat eveniet ullam modi asperiores perspiciatis labore animi odio ea dicta consectetur similique. Soluta officiis facilis velit sunt rem.</p>
                        </div>
                    </div>
                </li>
                <li  class="animated fadeInRight animation-delay-8">
                    <time class="timeline-time" datetime="">27/1/2012 <span>Junuary</span></time>
                    <i class="timeline-2-point"></i>
                    <div class="panel panel-default">
                        <div class="panel-heading">Event with responsive image</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <img src="<%= assets %>img/demo/office1.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="col-sm-8">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, praesentium, quam! Quia fugiat aperiam.</p>
                                    <p>Perspiciatis soluta voluptate dolore officiis libero repellat cupiditate explicabo atque facere aliquam.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li  class="animated fadeInRight animation-delay-6">
                    <time class="timeline-time" datetime="">30/4/2012 <span>April</span></time>
                    <i class="timeline-2-point"></i>
                    <div class="panel panel-default">
                        <div class="panel-heading">Event with list</div>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, neque, eos accusantium veniam error eligendi praesentium atque odio vero ipsa quia ipsam saepe. Omnis, esse atque aliquid ad tempore nesciunt!</p>
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="small-font">
                                        <li>eveniet accusantium voluptatum itaque</li>
                                        <li>minima nam doloribus quas quos</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="small-font">
                                        <li>quasi quidem quas nostrum animi</li>
                                        <li>perferendis corporis vitae nobis</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li  class="animated fadeInRight animation-delay-4">
                    <time class="timeline-time" datetime="">22/10/2012 <span>October</span></time>
                    <i class="timeline-2-point"></i>
                    <blockquote class="blockquote-color-bg-primary">
                        <p><strong>Blockquote in timeline!</strong> consectetur adipiscing elit. Integer sodales sagittis magna. consectetur adipiscing elit sed consequat, quam semper libero.</p>
                        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                </li>
                <li  class="animated fadeInRight animation-delay-2">
                    <time class="timeline-time" datetime="">18/3/2013 <span>March</span></time>
                    <i class="timeline-2-point"></i>
                    <div class="panel panel-default">
                        <div class="panel-heading">Event with several images and table!</div>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, nulla recusandae blanditiis architecto soluta culpa obcaecati quis earum atque consequuntur.</p>
                            <div class="row">
                                <div class="col-sm-4">
                                    <img src="<%= assets %>img/demo/office2.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="col-sm-4">
                                    <img src="<%= assets %>img/demo/office3.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="col-sm-4">
                                    <img src="<%= assets %>img/demo/office4.jpg" alt="" class="img-responsive">
                                </div>
                            </div>
                            <br>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, ipsum voluptates eius placeat dolorum reprehenderit ducimus accusamus magni aspernatur at dolore assumenda quae suscipit enim veritatis obcaecati molestias laudantium maxime!</p>
                        </div>
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>First Name</th>
                              <th>Last Name</th>
                              <th>Username</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>Mark</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>Jacob</td>
                              <td>Thornton</td>
                              <td>@fat</td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td>Larry</td>
                              <td>the Bird</td>
                              <td>@twitter</td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </li>
                <li  class="animated fadeInRight animation-delay-2">
                    <time class="timeline-time" datetime="">29/7/2013 <span>July</span></time>
                    <i class="timeline-2-point"></i>
                    <div class="panel panel-success">
                        <div class="panel-heading">Success color in panel event</div>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, illum aspernatur placeat eveniet ullam modi asperiores perspiciatis labore animi odio ea dicta consectetur similique. Soluta officiis facilis velit sunt rem.</p>
                        </div>
                    </div>
                </li>
                <li  class="animated fadeInRight animation-delay-2">
                    <time class="timeline-time" datetime="">15/8/2013 <span>August</span></time>
                    <i class="timeline-2-point"></i>
                    <div class="panel panel-primary">
                        <div class="panel-heading">Responsive video in timeline</div>
                        <div class="video">
                            <iframe src="http://player.vimeo.com/video/50061391?title=0&amp;byline=0&amp;portrait=0"></iframe>
                        </div>
                    </div>
                </li>
                <li  class="animated fadeInRight animation-delay-2">
                    <time class="timeline-time" datetime="">29/12/2013 <span>December</span></time>
                    <i class="timeline-2-point"></i>
                    <div class="panel panel-primary">
                        <div class="panel-heading">Progress bars in timeline</div>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, eaque, odit, officiis repellendus magni nihil enim reprehenderit vel fugit consequuntur totam harum saepe quo molestiae numquam nisi distinctio? Rem, magni.</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>HTML 5</strong>
                                    <div class="progress progress-sm">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                        <span class="sr-only">90% Complete</span>
                                      </div>
                                    </div>
                                    <strong>CSS 3</strong>
                                    <div class="progress progress-sm">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                        <span class="sr-only">70% Complete</span>
                                      </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <strong>Javascript</strong>
                                    <div class="progress progress-sm">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                        <span class="sr-only">90% Complete</span>
                                      </div>
                                    </div>
                                    <strong>PHP 5</strong>
                                    <div class="progress progress-sm">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                        <span class="sr-only">60% Complete</span>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li  class="animated fadeInRight animation-delay-2">
                    <time class="timeline-time" datetime="">20/2/2014 <span>February</span></time>
                    <i class="timeline-2-point"></i>
                    <div class="panel panel-royal">
                        <div class="panel-heading">Lorem ipsum dolor sit</div>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, illum aspernatur placeat eveniet ullam modi asperiores perspiciatis labore animi odio ea dicta consectetur similique. Soluta officiis facilis velit sunt rem.</p>
                        </div>
                    </div>
                </li>
                <li  class="animated fadeInRight animation-delay-2">
                    <time class="timeline-time" datetime="">7/3/2014 <span>March</span></time>
                    <i class="timeline-2-point"></i>
                    <div class="alert alert-info">
                        <h4>You can use Alerts!</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, sequi, assumenda voluptates maxime natus possimus dolore rerum deleniti impedit hic minima id commodi obcaecati quas ab in incidunt rem harum?</p>
                    </div>
                </li>

                <li  class="animated fadeInRight animation-delay-2">
                    <time class="timeline-time" datetime="">31/5/2014 <span>May</span></time>
                    <i class="timeline-2-point"></i>
                    <div class="panel panel-primary">
                        <div class="panel-heading">Full image in Timeline</div>
                        <div class="video">
                            <img src="<%= assets %>img/demo/office2.jpg" alt="" width="100%" class="img-responsive">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <div class="content-box box-primary animated fadeInDown animation-delay-14">
                <span class="icon-ar icon-ar-lg icon-ar-round icon-ar-inverse icon-ar-white"><i class="fa fa-star"></i></span>
                <h4 class="content-box-title">Lorem ipsum dolor</h4>
                <p>Consectetur adipisicing elit vritatis dolor rem officia molestiae atque eveniet inventore earum quas voluptates cumque</p>
            </div>
            <br>
            <div class="panel-group animated fadeInDown animation-delay-12" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading panel-heading-link">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                      <i class="fa fa-lightbulb-o"></i> Talent and creativity
                    </a>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati molestiae id ipsum ipsa repudiandae. Voluptatum, molestias, quas magnam repellat quos facilis sequi. Ullam optio eius deleniti dolore quasi doloribus ipsam incidunt perferendis.</p>
                    <p>Dolores, corrupti, laborum, officia sit aliquam doloremque accusantium nemo sunt veniam est incidunt perferendis minima obcaecati ex aperiam voluptatibus blanditiis eum suscipit magnam dolorum in adipisci nihil ipsam perspiciatis molestiae!</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading panel-heading-link">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                      <i class="fa fa-desktop"></i> Design and code
                    </a>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit dignissimos inventore cupiditate expedita saepe enim nobis nostrum? Laborum, laudantium, maiores, cupiditate, perspiciatis at ad accusamus corporis sed ipsam et velit!</p>
                    <p>Incidunt, harum itaque voluptatum asperiores recusandae explicabo maiores. Alias, quos, ex impedit at error id laborum fugit architecto qui beatae molestiae dolorum rem veritatis quia aliquam totam accusamus perferendis. Nulla!</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading panel-heading-link">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                      <i class="fa fa-user"></i> Quality and Support
                    </a>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, rerum unde doloribus accusamus pariatur non expedita quibusdam velit totam obcaecati. Consequatur, deserunt, asperiores quam nisi earum voluptates animi labore tempore!</p>
                    <p>Dolorum, aliquam, totam labore saepe error a eum culpa assumenda sint laudantium ipsa iure ullam et dicta nesciunt repellendus optio voluptatibus reprehenderit odit officia fugiat necessitatibus recusandae architecto ad neque?</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<!-- build:include layout/footer.html --><!-- /build -->
