<!-- build:include layout/header/head.html --><!-- /build -->

<div class="paper-back">
    <div class="absolute-center">
        <div class="text-center">
            <div class="title-logo animated fadeInDown animation-delay-5">artificial<span>reason</span></div>
            <div class="transparent-div animated fadeInUp animation-delay-8">
                <h1 class="animated fadeInDown animation-delay-10">Coming Soon</h1>
                <div id="getting-started" class="animated fadeInLeft animation-delay-7">
                </div>
                <p>Lorem ipsum dolor sit amet consectetur elit. <br> beatae nesciunt rerum soluta aliquid.</p>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Email Adress">
                    <span class="input-group-btn">
                        <button class="btn btn-ar btn-primary" type="button">Subscribe</button>
                    </span>
                </div><!-- /input-group -->
            </div>
        </div>
    </div>
</div>

<!-- build:include layout/footer/scripts.html --><!-- /build -->
<script src="<%= assets %>js/jquery.countdown.min.js"></script>
<script src="<%= assets %>js/coming2.js"></script>

</body>

</html>
