<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Portfolio with captions</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">Portfolio</a></li>
            <li class="active">Portfolio with captions</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row" id="Container">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-caption-ar">
                        <img src="<%= assets %>img/demo/img01.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                <h4 class="caption-title">Title Work</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-caption-ar">
                        <img src="<%= assets %>img/demo/img02.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                <h4 class="caption-title">Title Work</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-caption-ar">
                        <img src="<%= assets %>img/demo/img03.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                <h4 class="caption-title">Title Work</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-caption-ar">
                        <img src="<%= assets %>img/demo/img04.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                <h4 class="caption-title">Title Work</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-caption-ar">
                        <img src="<%= assets %>img/demo/img05.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                <h4 class="caption-title">Title Work</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-caption-ar">
                        <img src="<%= assets %>img/demo/img06.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                <h4 class="caption-title">Title Work</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-caption-ar">
                        <img src="<%= assets %>img/demo/img07.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                <h4 class="caption-title">Title Work</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-caption-ar">
                        <img src="<%= assets %>img/demo/img08.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                <h4 class="caption-title">Title Work</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-caption-ar">
                        <img src="<%= assets %>img/demo/img09.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                <h4 class="caption-title">Title Work</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-caption-ar">
                        <img src="<%= assets %>img/demo/img10.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                <h4 class="caption-title">Title Work</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-caption-ar">
                        <img src="<%= assets %>img/demo/img11.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                <h4 class="caption-title">Title Work</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-caption-ar">
                        <img src="<%= assets %>img/demo/img12.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                <h4 class="caption-title">Title Work</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-caption-ar">
                        <img src="<%= assets %>img/demo/img13.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                <h4 class="caption-title">Title Work</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-caption-ar">
                        <img src="<%= assets %>img/demo/img14.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                <h4 class="caption-title">Title Work</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-caption-ar">
                        <img src="<%= assets %>img/demo/img15.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                <h4 class="caption-title">Title Work</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-caption-ar">
                        <img src="<%= assets %>img/demo/img16.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                <h4 class="caption-title">Title Work</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-caption-ar">
                        <img src="<%= assets %>img/demo/img17.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                <h4 class="caption-title">Title Work</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-caption-ar">
                        <img src="<%= assets %>img/demo/img18.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                <h4 class="caption-title">Title Work</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-caption-ar">
                        <img src="<%= assets %>img/demo/img19.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                <h4 class="caption-title">Title Work</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-caption-ar">
                        <img src="<%= assets %>img/demo/img20.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                <h4 class="caption-title">Title Work</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4 col-sm-6 col-xs-12">
                    <div class="img-caption-ar">
                        <img src="<%= assets %>img/demo/img21.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                <h4 class="caption-title">Title Work</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-caption-ar">
                        <img src="<%= assets %>img/demo/img22.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                <h4 class="caption-title">Title Work</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-caption-ar">
                        <img src="<%= assets %>img/demo/img23.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                <h4 class="caption-title">Title Work</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-caption-ar">
                        <img src="<%= assets %>img/demo/img24.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                <h4 class="caption-title">Title Work</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- col-md-9 -->
    </div>
</div> <!-- container -->

<!-- build:include layout/footer/widgets.html --><!-- /build -->
<!-- build:include layout/footer/foot.html --><!-- /build -->

</div> <!-- boxed -->
</div> <!-- sb-site -->

<!-- build:include layout/footer/slidebar.html --><!-- /build -->
<!-- build:include layout/footer/totop.html --><!-- /build -->
<!-- build:include layout/footer/scripts.html --><!-- /build -->
<script src="<%= assets %>js/portfolio.js"></script>

</body>

</html>

